@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Deve essere presente anche una homepage pubblica, nella quale le foto (visibili) sono mostrate agli utenti.
 Devono essere filtrabili per titolo.
Prevedere sempre nell’homepage pubblica un semplice form di contatto avente i campi email e messaggio. *@
 @* Il click sul tasto invia farà partire una richiesta a una nuova api che salverà sul database il messaggio inviato. *@
